<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @track.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @track.link %>
</p>

<%= link_to 'back', playlist_path(@track.playlist) %>